.title {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 5rem;
  color: coral;
}
.Score {
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  font-size: 1rem;
  color: coral;
  border: 2px solid coral;
  margin-left: 14rem;
  margin-right: 14rem;
}
.grid {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: auto;
}
.button {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  height: 150px;
  padding: 20px;
}
.button img {
  justify-content: space-between;
  height: 100px;
  width: 100px;
}
.background {
  background-color: aquamarine;
}
html {
  background-color: aquamarine;
}
